* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
:root {
    --dark-gray: #212121;
    --text-color-white: white;
    --black-background: black;
    --text-color: #1eacc7;
    --container-padding: 32px;
    --container-width: 1100px;
    --button-hover-bg-color: rgb(0, 132, 255);
}
a {
    text-decoration: none;
    color: var(--text-color-white);
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
}
.header__words {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    font-weight: 300;
    font-size: 15px;

    @media (max-width: 955px) {
        display: block;
    }
}
.header {
    display: flex;
    justify-content: center;
    background-color: var(--dark-gray);
    min-height: 52px;
}

li {
    list-style: none;
}
.header__word {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color-white);
    border-right: 1px dashed #000000;
    padding-right: 30px;

    &:last-child {
        border: none;
    }
}

.main__block {
    background: url(./assets/images/uber_bg.jpg) center center / cover;
    height: 799px;
}
.adventages {
    max-width: var(--container-width);
    margin: 0 auto;
}
.main__title {
    margin-top: 65px;
    text-align: center;
    color: var(--text-color-white);
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
}
.title {
    text-align: center;
    color: var(--text-color-white);
    font-size: 36px;
    text-transform: uppercase;
}
.second__text {
    @media (max-width:443px) {

    }
}
.secondary__text {
    margin: 0 auto;
    max-width: var(--container-width);
    font-size: 18px;
    margin-top: 16px;
    color: var(--text-color-white);
    text-align: center;
    @media (max-width: 1002px) {
        display: none;
    }
}

.secondary__text__two {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    color: var(--text-color-white);
    @media (max-width: 802px) {
        display: none;
    }
}
.subheader {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    @media (max-width:635px) {
        display: block;
    }
}
.first__block {
    color: var(--text-color-white);
    @media (max-width:701px) {
        display: flex;
        align-items: center;
    }
    @media (max-width:635px) {
        align-items: start;
        justify-content: center;
    }
}
.contacts__block {
    color: var(--text-color-white);
}
.contacts__title {
    font-weight: 300;
    font-size: 12px;
    margin-left: 20px;
    @media (max-width:701px) {
        display: none;
    }
}
.subheader__title {
    font-weight: 100;
    font-size: 13px;
    @media (max-width:701px) {
        display: none;
    }
}
.number {
    font-size: 22px;
    color: var(--text-color-white);
    @media (max-width:701px) {
        display: flex;
        justify-content: center;
    }
}
.button {
    height: 46px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding: 0 24px;
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    border: 1px solid #1eacc7;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.12);
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
}
.button:hover {
    transition: 0.3s all;
    background: linear-gradient(0deg, #1e67c7 0%, #4ce2ff 100%);
}
#btn__two {
    margin-left: 23px;
    margin-top: 0;
    @media (max-width:701px) {
        margin-left: 0;
        width: 230px;
        font-size: 20px;
        white-space: nowrap;
    }
    @media (max-width:635px) {
        margin: 0 auto;
    }
}
.button__text {
    text-transform: uppercase;
    color: var(--text-color-white);
}
.main__contact__us {
    display: flex;
    align-items: center;
    @media (max-width:701px) {
        display: block;
    }
}
.adventages__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    row-gap: 48px;
    margin-top: 16px;

    @media (max-width: 1550px) {
        grid-template-columns: 1fr;

        margin: 0;
    }
}

.adventages__title {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    margin-top: 23px;
}
.grid__img {
    @media (max-width: 542px) {
        margin: 0 auto;
    }
}

.grid__elem {
    display: flex;
    gap: 25px;

    .grid__img {
        max-width: 113px;
        max-height: 113px;
        display: flex;
        justify-content: center;
    }

    @media (max-width: 542px) {
        display: block;
    }
}

.grid__description {
    width: 90%;
}

.adventages__block {
    background-color: var(--black-background);
    width: 112px;
    height: 24px;
    margin: 0 auto;
    margin-top: 20px;
}
.adventages__text {
    font-size: 11px;
    color: var(--text-color-white);
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

.grid__titles {
    color: var(--text-color);
}

.main__subheader_container {
    background-color: rgba(0, 0, 0, 0.6);
    @media (max-width:365px) {
        display: flex;
    }
}

.mobile__app-container {
    background-image: url(./assets/images/mobile_bg.jpg);
    min-height: 800px;
    @media (max-width:1034px) {
      padding: 18px;
      
    }
}
.possibilities__text {
    color: var(--text-color-white);
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    padding: 5px;
}
.possibilities__block {
    background-color: var(--black-background);
    width: 112px;
    height: 24px;
    margin: 0 auto;
}
.mobile-app__title {
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    margin-top: 23px;
}
.mobile-app__paragraph {
    text-align: center;
}
.grid__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    margin: 0 auto;
    max-width: var(--container-width);
    margin-top: 20px;

    @media (max-width:1018px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        width: 680px;
        margin: 0 auto;
    }
    @media (max-width:726px) {
        grid-template-columns: 1fr;
        width: 350px;
        padding: 5px;
    }
}
.grid__blocks {
    background-color: #1e67c7;
    width: 320px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#first__card {
 background-image: url(./assets/images/Карточка\ 1.jpg);
}

#second__card {
    background-image: url(./assets/images/Карточка\ 2.jpg);
}
#third__card {
    background-image: url(./assets/images/Карточка\ 3.jpg);
}
#fourth__card {
    background-image: url(./assets/images/Карточка\ 4.jpg);
}
#fifth__card {
    background-image: url(./assets/images/Карточка\ 5.jpg);
}
#sixth__card {
    background-image: url(./assets/images/Карточка\ 6.jpg);
}
.plus__block {
    background-color: #000000;
    width: 27px;
    height: 26px;
    border-radius: 50px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus__block:hover {
    background-color: #1e2a36;
    box-shadow: 0 1px 6px 0 #8ac1ff;
    cursor: pointer;
}
.grid-block__text {
    margin-top: 20px;
    color: var(--text-color-white);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.car__block {
    background-color: var(--black-background);
    height:499px;
    @media (max-width:394px) {
        height: 393px;
    }
    @media (max-width:758px) {
        max-width: var(--container-width);
        --container-width:754px;
       
    }
}
.light__block {
    background-image: url(./assets/images/mobile_bg.jpg);
    height: 397px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    max-width: var(--container-width);
    display: flex;
    justify-self: center;
    margin-top: 54px;
    @media (max-width:493px) {
        width: 400px;
        height: 190px;
        margin-top: 20px;
    }
    @media (max-width:900px) {
        max-width: 500px;
        min-height: 272px;
        margin-top: 20px;
    }
}

.car-block__title {
    text-align: center;
    color: var(--text-color-white);
    font-size: 38px;
    padding-top: 26px;
    @media (max-width:443px) {
        display: none;
    }
}
.car-block__text {
    text-align: center;
    color: var(--text-color-white);
    @media (max-width:443px) {
        display: none;
    }
}
.car-block-bottom__text {
    text-align: center;
}
.text-grid {
    display: flex;
    justify-items: center;
    align-self: center;
}
.plus__container {
    display: flex;
    justify-content: center;
    
}
.plus {
    width: 14px;
    height: 14px;
}

#possibilities__paragraph {
    color: var(--black-background);
    background-color: var(--text-color-white);
}
.text_gr {
    display: flex;
    align-items: end;
}
.uber__logo {
    @media (max-width:701px) {
        width: 285px;
        height: 32px;
    }
    
}
.conditions__title {
    display: flex;
    justify-content: space-between;
}
.condition__titles{
    display: flex;
    justify-content: space-around;
}
.conditions__block {
    display: flex;
    margin-top: 61px;
}
#ul__container {
    width: 450px;
}
.ul {
    li {
        position: relative;
        margin-top: 10px;
        &::before {
            content: "";
            background: url(./assets/images/check_blue.png);
            display: block;
            position: absolute;
            height: 21px;
            width: 21px;
            left: -26px;
        }
    }
}
.ul__before {
    li {
        position: relative;
        margin-top: 10px;
        &::before {
            content: "";
            background: url(./assets/images/check_red.png);
            display: block;
            position: absolute;
            height: 21px;
            width: 21px;
            left: -26px;
        }
    }
}
.blue__title {
    color: #1CA8C3;
}
.red__title {
    color: #FF5656;
    text-transform: uppercase;
}
span {
    text-transform: uppercase;
}
.condition__main-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 27px;
}
.conditions__blue-block {
    display: flex;
    margin-top: 30px;
}
.around-the-world-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    color: var(--text-color-white);
}
.around-the-world {
    text-align: center;
    color: var(--text-color-white);
}
#world {
    height: 720px;
    background: url(./assets/images/world_bg.png) center center / cover no-repeat;
}
.world__section {
    background-color: #080816;
}
.footer {
    height: 155px;
   
}
.footer__images {
    padding-left: 26px;
}
.text__countries {
    display: flex;
    gap: 50px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1550px;
    a{
        color: var(--black-background);
    }
}
.footer__links {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    justify-content: center;
    a{
        color: #999999;
    }
}
.language {
    text-align: center;
    color: #1FBAD6;
    text-transform: uppercase;
}
.line {
    width: 359px;
    background-color: #1FBAD6;
    height: 4px;
    margin: 0 auto;
    margin-top: 13px;
}
.footer__container {
    display: flex;
    margin-top: 48px;
}
.footer__block {
    background-color: var(--black-background);
    width:200px;
    border-radius: 10px;
}
.footer__img {
    width: 200px;
    height: 60px;
}
.footer__container-block {
    display: flex;
    gap: 20px;
    justify-content: end;
}
.vertical__line {
    height: 14px;
    width: 2px;
    background-color: #1EACC7;
    position: absolute;
}
.horizontal__line {
    height: 2px;
    width: 14px;
    background-color: #1EACC7;
}